@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }

*{
    font-family: 'Poppins';
} 


h3{
    text-align: center;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

table{
    width: 50%;
    margin: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: rgb(255, 220, 226);
    padding: 8px 4px;
}

tfoot td{
    text-align: right;
}

tr{
    border-bottom: 1px solid rgb(255, 220, 226);
}

td{
    padding: 10px 10px;
}

a {
    text-decoration: none;
}

tfoot tr{
    border: none;
}

table.contained{
    margin: 0 15%;
    width: 60%
}

.btn {
    border: 0;
    background-color: transparent;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;

}

.btn.btn-success{
    background-color: rgb(204, 226, 171);
}

.btn.btn-success:hover{
    background-color: rgb(192, 219, 150);
}

.btn.btn-success:active{
    background-color: rgb(181, 207, 140);
}

.btn.btn-warning{
    background-color: rgb(255, 213, 134);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
}

.btn.btn-warning:hover{
    background-color: rgb(238, 192, 106);
}

.btn.btn-warning:active{
    background-color: rgb(236, 191, 106);
}

.btn.btn-danger {
    background-color: rgb(235, 140, 140);
}

.btn.btn-danger:hover {
    background-color: rgb(224, 116, 116);
}

.btn.btn-danger:active {
    background-color: rgb(207, 101, 101);
}